/* 
    Created on : 19.09.2014, 17:27:20
    Author     : Носов А.В.
*/

@font-face { 
    font-family: "PT Sans"; 
    src: url('fonts/pt-sans/PTS55F.ttf') 
        format('truetype'), 
        url("fonts/pt-sans/PTS55F.eot"); 
}

html, body {
/*    font: normal 1em ;*/
    font-family: "PT Sans", tahoma, arial, times, sans-serif;
    margin-top: 0;
    margin-right: 50px;
    margin-left: 50px;
    text-align: left;
    height: 100%;
}

h1 {
    text-align: left; 
    margin-bottom: 0; 
    padding: 0;
}

h2 {
    margin-bottom: 0.5em;
}

.gwt-Anchor {
    font-size: small;
    color: #0f6bdd; /* Ко всем ссылкам*/
    text-decoration: none;
    display: inline-block;
    padding: 2px 3px;
}
.gwt-Anchor:hover {
    background:rgba(0,0,0,0.08);
}
.gwt-Anchor-Exit {
    margin: 15px 20px 0px 3px;
}
.gwt-Anchor-Left {
    width: 100%;
}
.gwt-Anchor-Up {
    margin: 15px 0px 0px 3px;
}

.gwt-Button {
    text-decoration: none; 
    padding: 3px; 
    color: black; 
    border: 2px solid #CCC; 
    border-radius: 5px; 
    background: white; 
    display: inline-block;
}
.gwt-Button:hover {
    background:rgba(0,0,0,0.1);
}

.gwt-TextBox {
    text-decoration: none; 
    color: black; 
    border: 1px solid #CCC; 
//    border-radius: 3px; 
    background: white; 
}
.gwt-PasswordTextBox {
    text-decoration: none; 
    color: black; 
    border: 1px solid #CCC; 
    background: white; 
}

/*.gwt-PopupPanel {
   border: 3px solid #000000;
   padding: 3px;
   background: white;
}

.gwt-PopupPanelGlass {
   background-color: #000;
   opacity: 0.3;
   filter: alpha(opacity=30);
}

.gwt-PopupPanel .popupContent {
   border: none;
   padding: 3px;
   background: gray;	
}*/

.tableWelcom {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}

.borderWelcom {
    border-style: double;
    border-color: #00BB00;
}
.borderWelcom-00 {
    border-width: 0px 0px 3px 3px;
    padding: 0px 10px 10px 10px;
}
.borderWelcom-01 {
    border-width: 0px 3px 3px 0px;
    padding: 0px 10px 10px 10px;
}
.borderWelcom-10 {
    border-width: 0px 0px 0px 3px;
    padding: 10px;
}
.borderWelcom-11 {
    border-width: 0px 3px 0px 1px;
    padding: 10px;
}