/* 
    Created on : 19.09.2014, 17:27:20
    Author     : Носов А.В.
*/

@font-face { 
    font-family: "PT Sans"; 
    src: url('fonts/pt-sans/PTS55F.ttf') 
        format('truetype'), 
        url("fonts/pt-sans/PTS55F.eot"); 
}

html, body {
/*    font: normal 1em ;*/
    font-family: "PT Sans", tahoma, arial, times, sans-serif;
//    margin: 30px;
    margin-left: 50px;
    text-align: left;
}

h1 {
    text-align: left; 
    margin-bottom: 0; 
    padding: 0;
}

h2 {
    margin-bottom: 0.5em;
}

a {color: #0f6bdd;}